/* Deca logo color: #1a4697 */

/* Style of the entire resume */
div.resume-body {
    /* display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: 
        "topl topr"
        "botl botr";
    /* style of the body */
    /* background-color: #444;
    position: relative;
    margin: 0;
    border-radius: 10px;  */
}

/* Style of individual cards */
.resume-body .card {
    /* position style */
    position: relative;
    margin-bottom: 2rem;
    z-index: 1;
    /* card style  */
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    background: inherit;
    background-color: rgba(var(--primary-blue), 1);
    border-radius: 1rem;
    /* inner style */
    display: flex;
    align-items: center;
    justify-content: left;
}

.resume-body .card.left {
    justify-content: left;
}

.resume-body .card.right {
    justify-content: right;
    flex-direction: row-reverse;
}

.card-title {
    font-size: 1.5rem;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
    font-family: 'Poppins', sans-serif;
}

/* Style of the card icons */
.icon-large {
    fill: white;
    width: 3rem;
}

/* style of card descriptions */
.card ~ .description {
    position:relative;
    /* 2padding + height + margin-bottom */
    top: -7rem;
    right: 0;
    z-index: 0;
    width: 22rem;
    /* height: 10rem; */
    height: 0;
    /* custom non-position */
    background-color: rgba(var(--secondary-blue));
    border-radius: 1rem;
    /* inner stuff */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 5rem;
    overflow: hidden;
    transition: all 1s ease;
}

/* activate on hover */
.card:hover {
    cursor: pointer;
    background-color: rgba(var(--secondary-blue));
}
.card:hover ~ .description {
    height: 10rem;
}