/* Deca logo color: #1a4697 */

/* Style of the entire resume */
div.resume-body {
    padding-left: 10%;
    padding-right: 10%;
    --transition-time: 0.3s;
}

/* Style of individual cards */
.resume-body .card {
    /* position style */
    position: relative;
    margin-bottom: 2rem;
    z-index: 1;
    /* card style  */
    width: 20rem; /* CARD - WIDTH */
    height: 3rem; /* CARD - HEIGHT */
    padding: 1rem;
    margin: .5rem;
    border: .5rem solid rgba(var(--primary-blue));
    background: inherit;
    background-color: rgba(var(--primary-blue), 1);
    transition: all var(--transition-time) ease;
    border-radius: 1rem;
    /* inner style */
    display: flex;
    align-items: center;
    justify-content: left;
}

.resume-body .card.left {
    justify-content: left;
}

.resume-body .card.right {
    justify-content: right;
    flex-direction: row-reverse;
}

.card-title {
    font-size: 1.5rem;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
    font-family: 'Poppins', sans-serif;
}

/* Style of the card icons */
.icon-large {
    fill: white;
    width: 3rem;
}

/* style of card descriptions */
.card ~ .description {
    position:relative;
    /* 2padding + height + margin-bottom */
    top: -7rem;
    right: 0;
    z-index: 0;
    width: 23rem; /* CARDwITH + 2CARDPADDING + 2CARDBORDER + 2CARDMARGIN - 2DESCMARGIN*/
    /* height: 10rem; */
    height: 0;
    /* custom non-position */
    background-color: rgba(var(--secondary-blue));
    border-radius: 1rem;
    /* inner stuff */
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: .5rem; /* DESCMARGIN */
    margin-top: 1rem;
    padding-top: 7rem; /* */
    overflow: hidden;
    transition: all var(--transition-time) ease;
}

/* activate on hover */
.card:hover {
    cursor: pointer;
    border: 1rem solid rgba(var(--secondary-blue));
    margin: 0rem;
    background-color: rgba(var(--secondary-blue));
}
.card:hover ~ .description {
    height: 10rem;
    margin:0;
    width: 24rem;
}