/* Deca logo color: #1a4697 */

/* Style of the entire resume */
div.resume-body {
    /* display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: 
        "topl topr"
        "botl botr";
    /* style of the body */
    /* background-color: #444;
    position: relative;
    margin: 0;
    border-radius: 10px;  */
}

/* Style of individual cards */
.resume-body .card {
    /* position style */
    margin-bottom: 2rem;
    /* card style  */
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    background-color: rgba(var(--primary-blue), .75);
    border-radius: 1rem;
    /* inner style */
    display: flex;
    align-items: center;
    justify-content: left;
}

.resume-body .card.left {
    justify-content: left;
}

.resume-body .card.right {
    justify-content: right;
    flex-direction: row-reverse;
}

.card-title {
    font-size: 1.5rem;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
    font-family: 'Poppins', sans-serif;
}

.card-icon > * {
    width: 3rem;
}

.icon-large {
    fill: white;
}
/* Style of the card icons */
