* {
  margin: 0px;
  color: #eee;
}

body {
  background-color: #333;
}

.Header {
  /* display grid, orginization of the container items https://css-tricks.com/snippets/css/complete-guide-grid/ */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "title1 image"
    "title2 image";
  /* position of the Header containter */
  position: relative;
  top: 1rem;
  left: 0%;
  width: 100%;
  height: auto;
  /* background-color: aqua; to outline the grid area */
  /* Inner format of the Header container */
  padding-left: 25px;
  padding-right: 25px;
}

.Header h1 {
  /* style the font of the title */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  color: #fff;
}

/* selects the first h1 element */
.Header h1:nth-child(1) { 
  grid-area: title1;
}

.Header h1:nth-child(2) {
  grid-area: title2;
}

.Header img {
  grid-area: image;
  /* align the image to the right */
  position: absolute;
  right: 10%;
  /* size the image to fit the header bar */
  height: 100%;
}