* {
  margin: 0px;
  color: #eee;
}

/* colors: https://coolors.co/050505-090c9b-3066be-b4c5e4-fbfff1 */
:root {
  --jet : 60, 55, 68;
  --black : 5, 5, 5;
  --primary-blue : 9, 12, 155;
  --secondary-blue : 48, 102, 190;
  --tertiary-blue : 180, 197, 228;
  --light : 251, 255, 241;
}

body {
  background-color: rgb(var(--black));
}

/* HEADER STUFF */
.Header {
  /* display grid, orginization of the container items https://css-tricks.com/snippets/css/complete-guide-grid/ */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "title1 image"
    "title2 image";
  /* position of the Header containter */
  position: relative;
  left: 0%;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  /* background-color: aqua; to outline the grid area */
  /* Inner format of the Header container */
  padding-left: 25px;
  padding-right: 25px;
}

.Header h1 {
  /* style the font of the title */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  color: #fff;
}

/* selects the first h1 element */
.Header h1:nth-child(1) { 
  grid-area: title1;
}

.Header h1:nth-child(2) {
  grid-area: title2;
}

.Header img {
  grid-area: image;
  /* align the image to the right */
  position: absolute;
  right: 10%;
  /* size the image to fit the header bar */
  height: 100%;
}