* {
  margin: 0px;
  color: #eee;
}

/* colors: https://coolors.co/050505-090c9b-3066be-b4c5e4-fbfff1 */
:root {
  --jet : 60, 55, 68;
  --black : 5, 5, 5;
  --primary-blue : 9, 12, 155;
  --secondary-blue : 48, 102, 190;
  --tertiary-blue : 180, 197, 228;
  --light : 251, 255, 241;
}

body {
  background-color: rgb(var(--black));
}

/* HEADER STUFF */
.Header {
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
  /* inner */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  height: 10rem;
  /* style the font of the title */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  color: #fff;
}

.Header h1::after {
  display: inline-block;
  content: "";
  background-color: rgb(var(--light));
  width: .5rem;
  height: 60px;
}
/* image */

.Header img {
  /* align the image to the right */
  position: relative;
  /* size the image to fit the header bar */
  height: 7rem;
  margin-right: 3rem;
}
/* test typing effect */
.Header .name {
  cursor: pointer;
}